.select-plan {
  &__title {
    font-size: 3vh;
    padding: 1.5vh;
    color: $primary-color;
  }

  &__billing-period {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 1vh;
    align-self: flex-end;
  }

  &__billing-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-size: 2vh;
    color: $dark-grey-color;
    cursor: pointer;

    @include no-text-select;
  }

  &__billing-selected-period {
    width: 8vh;
    align-self: flex-end;
    font-size: 1.5vh;
    line-height: 2.5vh;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
    text-align: start;
    transition: all 0.3s ease;

    &--monthly {
      &::after {
        content: "Monthly";
        color: $secondary-color;
      }
    }
    &--yearly {
      &::after {
        content: "Yearly";
        color: $primary-color;
      }
    }
  }

  &__plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__pricing-plan {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    text-align: center;
    border: 0.2vh solid $border-color;
    border-radius: 1.5vh;
    padding: 1.5vh;
    margin: 1vh;
    flex: 1;
    cursor: pointer;
    will-change: transform;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $white-color;
      transform: scale(1.05);
      transition: all 0.2s ease-out;
    }
  }

  &__plan-title {
    font-size: 2.5vh;
    color: $primary-color;
  }

  &__price {
    font-size: 2vh;

    span {
      font-size: 1.5vh;
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__feature-item {
    display: flex;
    gap: 0.5vh;
    margin: 1vh 0;

    .checkmark {
      color: $primary-color;

      &::before {
        content: "✔";
      }
    }

    .cross {
      color: $secondary-color;

      &::before {
        content: "✘";
      }
    }
  }
}
